.Avatar {
  border-radius: $radius;
  background-size: cover;
  background-position: center;
}

.Avatar--xLarge {
  height: 70px;
  width: 70px;
}

.Avatar--large {
  height: 50px;
  width: 50px;
}

.Avatar--medium {
  height: 40px;
  width: 40px;
}

.Avatar--small {
  height: 30px;
  width: 30px;
}
