.Container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: $m;
  padding-right: $m;

  @include media-query('tablet') { width: $breakpoint-mobile; }
}

.Container--noPadding {
  padding-left: 0;
  padding-right: 0;
}
