$header-height--small: 50px;
$header-height--large: 80px;

$header-z-index: 10;

.Header {
  height: $header-height--small;
  width: 100%;
  position: fixed;
  z-index: $header-z-index;
  background-color: $primary;
  color: $secondary;


  @include media-query('tablet') {
    height: $header-height--large;
  }

  // Header has special links
  a {
    color: $secondary;
    text-decoration: none;
  }
}

.Header-container {
  width: 100%;
  height: 100%;
  max-width: $breakpoint-laptop;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: $m * 2;
  padding-right: $m * 2;

  @include media-query('tablet') {
    padding-left: $m * 4;
    padding-right: $m * 4;

    justify-content: space-between;
  }
}

.Header-navContainer {
  display: flex;
  align-items: center;
  width: 100%;

  @include media-query('tablet') {
    width: auto;
  }
}

.Header-profileContainer {
  display: none;

  @include media-query('tablet') {
    display: block;
  }
}

.Header-menuIcon {
  width: $font-size-h1;
  height: $font-size-h1;
  cursor: pointer;

  > .Icon, svg {
    width: 100%;
    height: 100%;
  }

  @include media-query('tablet') {
    display: none;
  }
}

.Header-brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: $font-size-h1;

  @include media-query('tablet') {
    width: auto;
    margin-right: 0;
  }
}

.Header-brand {
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  margin: 0;

  @include media-query('tablet') {
    font-size: $font-size-h1;
    margin-right: $m * 3;
  }
}

.Header-desktopNav {
  display: none;

  @include media-query('tablet') {
    display: block;
  }
}

.Header-desktopLink {
  @extend %font-heading;
  font-weight: $font-weight-medium;
  margin-right: $m * 2;

  &.is-active {
    border-bottom: 2px solid $secondary;
  }
}

body.no-scroll {
  overflow: hidden;
  height: 100%;

  @include media-query('tablet') {
    overflow: scroll;
  }
}

.Header-mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 75vw;
  height: 100vh;
  z-index: $header-z-index - 1;

  @include media-query('tablet') {
    display: none;
  }
}

.Header-mobileNav-topGutter {
  height: $header-height--small;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: $m * 2;
}

.Header-mobileNav-closeIcon {
  cursor: pointer;
}

.Header-mobileNav-list {
  padding-left: $m * 2;
  padding-right: $m * 2;
  margin-top: 0;
  margin-bottom: $m * 4;
}

.Header-mobileNav-listItem {
  font-family: $font-style-heading;
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  list-style: none;
  padding-top: $m;
  padding-bottom: $m;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($secondary, 0.2);
  }
}

.Header-mobileNavProfile {
  display: flex;
  align-items: center;

  // I only want to click the anchor tag.
  // Could maybe do this in general TBH #yolo
  a > * {
    pointer-events: none;
  }
}

.Header-mobileNavProfile-handle {
  @extend %font-body;
  font-size: 16px;
  margin-left: $m;
}
