.Header {
  height: 50px;
  background-color: $primary;
  color: $secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: $m * 2;
  padding-right: $m * 2;

  @include media-query('tablet') {
    height: 80px;
    padding-left: $m * 4;
    padding-right: $m * 4;
  }

  // Header has special links
  a {
    color: $secondary;
    text-decoration: none;
  }
}

.Header-menuIcon {
  width: $font-size-h1;
  height: $font-size-h1;

  > .Icon, svg {
    width: 100%;
    height: 100%;
  }

  @include media-query('tablet') {
    display: none;
  }
}

.Header-brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include media-query('tablet') {
    width: auto;
  }
}

.Header-brand {
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  margin: 0;
  margin-right: $m * 3;

  @include media-query('tablet') {
    font-size: $font-size-h1;
  }
}

.Header-desktopNav {
  display: none;

  @include media-query('tablet') {
    display: block;
  }
}

.Header-desktopLink {
  @extend %font-heading;
  font-weight: $font-weight-medium;
  margin-right: $m * 2;

  &.is-active {
    border-bottom: 2px solid $secondary;
  }
}
