.SocialBar {
  display: flex;
  justify-content: space-between;

  font-size: $font-size-h5;
  font-weight: $font-weight-medium;
  color: $grey-medium;
}

.SocialBar-left {
  display: flex;
  align-items: center;

  > .Icon {
    margin-right: $m;
  }
}

.SocialBar-right {
  display: flex;
  align-items: center;

  > .Icon {
    margin-left: $m;
  }
}
