// Colors
$purple: #2D173D;
$pink: #FF98B7;

// Greys
$black: #000000;
$grey-dark:  #4a4a4a;
$grey-med:   #B0B0B0;
$grey-light: #F3F1F1;
$white:      #FFFFFF;

// Aliases
$text: rgba($black, 0.9);
$primary: $purple;
$secondary: $pink;
