// Text selection
// NOTE: must be specified individually
::selection { background: $selection; }
::-moz-selection { background: $selection; }

// Fonts
%font-heading {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

%font-body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}


// Headings
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
%h1, %h2, %h3, %h4 {
  @extend %font-heading;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.1;
}
%h1 {
  font-size: $font-size-h1;
}
%h2 {
  font-size: $font-size-h2;
}
%h3 {
  font-size: $font-size-h3;
}
%h4 {
  font-size: $font-size-h4;
}

h1, .h1 { @extend %h1; }
h2, .h2 { @extend %h2; }
h3, .h3 { @extend %h3; }
h4, .h4 { @extend %h4; }


p, .p {
  font-size: 16px;
}

strong, .strong {
  font-weight: bold;
}

label, .label {
  @extend %font-heading;
}


// Links
a, .link {
  color: $link;
  text-decoration: underline;

  &:focus, &:hover, &:active {
    color: darken($link, 15%);
  }
}


// General / default
html {
  @extend %font-body;
  color: $text;
  line-height: 1.5;

  // Better Font Rendering
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
